@import 'variables';

// Small laptop size
@media screen and (max-width: 1024px) {
    .main-header {
        .navbar {
            .nav-links {
                width: 80%;
            }
        }
    }

    .showcase {
        .form-section {
            .form {
                .form-group {
                    input {
                        width: 80%;
                    }

                    .btn {
                        right: 20%;
                    }
                }
            }
        }
    }
}

// Tablet Size
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .main-wrapper {
        overflow-x: hidden;
    }
    .main-header {
        .navbar {
            .burger {
                display: block;
                position: fixed;
                cursor: pointer;
                top: 7vh;
                right: 20px;
                z-index: 99;

                div {
                    transition: all 0.3s ease;
                }
            }

            .toggle .line-1 {
                transform: rotate(-45deg) translate(-5px, 3px);
            }

            .toggle .line-2 {
                opacity: 0;
            }

            .toggle .line-3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }

            .nav-links {
                position: fixed;
                right: 0;
                height: 92vh;
                top: 12vh;
                background: rgba(0, 0, 0, 0.8);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                transform: translateX(100%);
                .nav-item {
                    opacity: 0;
                    .nav-link {
                        color: $gray-3;
                        font-size: 1rem;
                    }
                }
                transition: transform 0.5s ease-in;
            }

            .nav-active {
                transform: translateX(0);
            }
        }
    }

    .showcase {
        padding: 2rem 0;
        .text-group-1,
        .text-group-2,
        .form-section {
            width: 100%;
            padding: 1rem;
        }

        .text-group-2 {
            p {
                width: 100%;
            }
        }
        .form-section {
            margin-bottom: 4rem;
            .form {
                .form-group {
                    input {
                        width: 100%;
                    }

                    .btn {
                        right: 0;
                    }
                }
            }
        }
    }

    .our-services {
        padding: 2rem 0;
        .text-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-group {
                width: 100%;
            }
        }
    }

    .our-work {
        padding: 2rem 0;

        h5 {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        .main-wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            .wrapper {
                align-items: center;
                margin: 0;

                &:nth-child(even) {
                    margin-top: 0;
                }

                small {
                    margin-top: 5px;
                }

                small,
                h6 {
                    align-self: flex-start;
                }
            }
        }
        .link-wrapper {
            a {
                margin-top: 1rem;
                justify-content: flex-start;
            }
        }
    }

    .our-team {
        padding: 2rem 0;

        .main-wrapper {
            flex-direction: column;

            .text-content {
                width: 80%;
                margin-bottom: 1rem;
                h5 {
                    margin: 1rem 0;
                }
            }
        }
    }

    .our-clients {
        padding: 2rem 0;
        
        .text-content {
            width: 100%;
        }
    }
}
