@import 'config';
@import 'variables';

// Header
.main-header {
    .navbar {
        h5 {
            margin-left: 1rem;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        min-height: 8vh;

        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            z-index: 99;
            .nav-item {
                // margin: 0 0.5rem;
                font-size: 1.3rem;
                font-weight: 500;

                .nav-link {
                    color: $primary-text-color;

                    &:hover {
                        transition: color 0.3s ease;
                        color: darken($primary-text-color, 25%);
                    }
                }
            }
        }

        .burger {
            display: none;

            div {
                width: 25px;
                height: 3px;
                margin: 3px 0;
                background-color: #000;
            }
        }
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Showcase
.showcase {
    color: $gray-1;
    padding: 4rem 0;

    .text-group-1,
    .text-group-2,
    .form-section {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        p:first-child {
            color: $light-blue-color;
        }
    }

    .image-wrapper {
        img {
            border-radius: 10px;
        }
    }

    .text-group-2 {
        margin: 1rem 0;

        h4 {
            margin: 1rem 0;
        }

        p {
            width: 75%;
        }
    }
    .form-section {
        .form {
            width: 100%;
            color: $gray-2;

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                label {
                    font-size: 0.8rem;
                    margin: 0.5rem 0;
                }

                input {
                    width: 70%;
                    padding: 0.8rem;
                    border-radius: 5px;
                    border: none;
                    background: $gray-3;
                }

                .btn {
                    position: absolute;
                    background: $light-blue-color;
                    color: $gray-3;
                    bottom: 0;
                    right: 30%;

                    &:hover {
                        transition: all 0.3s ease;
                        background: lighten(
                            $color: $light-blue-color,
                            $amount: 5%
                        );
                    }
                }
            }
        }
    }
}

.our-services {
    padding: 4rem 0;
    h5 {
        margin-bottom: 1rem;
    }
    .text-content {
        display: flex;
        justify-content: space-evenly;
        width: 90%;

        .text-group {
            cursor: pointer;
            padding: 1rem;
            border-radius: 10px;
            margin: 1rem;
            margin-bottom: 4rem;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition: all 0.3s ease;

            &:hover {
                background: #fff;
                -webkit-box-shadow: 5px 10px 30px 0px rgba(51, 51, 51, 0.1);
                box-shadow: 5px 10px 30px 0px rgba(51, 51, 51, 0.1);

                .btn {
                    transition: all 0.3s ease;
                    background: $light-blue-color;
                    color: $gray-3;
                    &:hover {
                        background: lighten(
                            $color: $light-blue-color,
                            $amount: 5%
                        );
                    }
                }
            }

            .material-icons {
                height: 48px;
                width: 48px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                background: $light-blue-color;
                margin-bottom: 1rem;
                color: $gray-3;
                border-radius: 10px;
            }
            .code {
                background: #27ae60;
            }

            .storage {
                background: #eb5757;
            }
            h6 {
                margin: 1rem 0;
            }
            .btn {
                margin-top: 1rem;
            }
        }
    }
}

.our-work {
    padding: 4rem 0;

    h5 {
        width: 40%;
        padding-bottom: 2.5rem;
    }

    .main-wrapper {
        display: grid;
        width: 100%;
        margin: 2rem 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &:nth-child(even) {
                margin-top: -4rem;
            }

            img {
                width: 80%;
                border-radius: 10px;
                margin-bottom: 1rem;
            }
            small {
                color: $gray-2;
            }
        }
    }
    .link-wrapper {
        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $light-blue-color
        }
    }
}

@import 'mobile';
